.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #ffc48e !important;
    color:floralwhite;
}

h1 {
    text-align:center
}
.navbar-dark {
    background-color: #e43b3b;
    color:floralwhite;
}
.backColor{
    background-color: #fac8c8;
}

.footer {
    background-color: #dd6f6f;
    color:floralwhite;
}
.darkRed {
    color:rgb(255, 60, 60);
}
